@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;
    
}

body{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: 100vh; */
    overflow: hidden;
    /* overflow-y: scroll; */
}

.navigation{
    position: relative;
    width: 50px;
    height: 50px;
    /* background: #fff; */
    transition: width 0.5s,height 0.5s;
    transition-delay: 0s,0.75s;
    z-index: 100000;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.01em;
    overflow: hidden;
    /* overflow-y: scroll; */
}

.navigation.active{
    width:450px;
    height: 750px;
    border-color: #ff4081;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s,0.75s;
}

.navigation .toggle{
    position: relative;
    /* top: 0;
    left:0; */
    width:100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #ff4081;
    transition: 0.5s;
    cursor: pointer;
}

.navigation .toggle.active{
    background: #2196f3;
}

.navigation .toggle::before{
    content: '+';
    /* position: absolute; */
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #fff;
    font-weight: 400;
    transition: 0.5s;

}

.navigation .toggle.active::before{
    transform:rotate(315deg);
}

.navigation ul{
    position: relative;
    /* left: 0; */
    width: 100%;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
}

.tooltipsele{
    font-size: 12px;
    margin:2px 1px ;
    padding: 8px 16px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #ff4081;
}

/* .navigation ul li:hover{
    background: #03a9f4;
} */

.navigation ul li a{
    position:relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #154367;
}

.scroll{
position: absolute;
  /* top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px; */
  overflow-y: scroll;
  margin: 2px;
  padding: 2px;
  height: 150px;
  border: 2px solid #ccc;
  
  /* font-size: 16px; */
  
  font-family: Arial, sans-serif;
}

.graph{
margin: 2px;
  padding: 2px;
  height: 190px;
  border: 2px solid #ccc;
  
  /* font-size: 16px; */
  font-family: Arial, sans-serif;
}

/* #main { 
    position: fixed; 
    top: 40%; 
    right: 200px; 
    width: 400px; 
    border: 0px solid #421; 
    padding: 40px; 
}
#main div { 
    margin: 10px; 
}  */
#input { 
    border: 0; 
    padding: 5px; 
    border: 1px solid #421; 
}

.button {
    background-color: #2196f3; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    width: 200px;
    border: 1px solid #2196f3;
  }
  .button1:hover {
    background-color: #2196f3;
    color: white;
  }

  .red{
      color: red;
  }

  .green{
      color: green;
  }

  .reportbug{
    font-size: 12px;
    margin:2px 1px ;
    padding: 8px 16px;
    border: 2px solid #ccc;
  }